<!DOCTYPE html>

<html lang="en">
<head>

    <meta charset="UTF-8">
    <title>Indexpage</title>
</head>
<body>

<h1>Welcome To This Website</h1>
<b>click</b>
<a href="next/"><button>Go To Another Ice Cream Website</button></a>

<body style="background-color:pink;">


<p>This is Ice Cream Website</p>

<label for="ice-cream-choice">Choose a flavor:</label>
<input list="ice-cream-flavors" id="ice-cream-choice" name="ice-cream-choice"/>
<datalist id="ice-cream-flavors">
    <option value="Choclate Flevour">
    <option value="Honey Flevour">
    <option value="Milky Bar">
    <option value="ChocoBar">
    <option value="Vennila">
    <option value="Kulfi">
</datalist>
</body>

<h1>Please Find Below Choclate Prices:</h1>

<ul style="list-style-type:square;">
  <li>Chocolate Flevour: 165/-</li>
  <li>Honey Flevour: 150/-</li>
  <li>Milky Bar: 135/-</li>
  <li>ChocoBar: 125/-</li>
  <li>Vennila: 115/-</li>
  <li>Kulfi: 100</li>

</ul>



<button id="myBtn" onclick="javascript:alert('Your order is Successfully!')">Enter</button>


</body>

</html>
